---
import Section from "components/Section/Section.astro";
import Card from "components/Card/Card.astro";
import { projects, type Project } from "@/constants/projects.ts";
---

<Section id="portfolio">
  <div class="flex-center-center flex-wrap gap-5 mt-5">
    {
      projects.map((project: Project) => (
        <Card
          name={project.name}
          description={project.description}
          imageUrl={project.imageUrl}
          tecnologies={project.tecnologies}
          repositoryUrl={project.repositoryUrl}
          deployedUrl={project.deployedUrl}
        />
      ))
    }
  </div>
</Section>
