---
import Section from "components/Section/Section.astro";
import Card from "components/Card/Card.astro";
import { projects, type Project } from "@/constants/projects.ts";
---

<Section id="portfolio">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5 max-w-[85rem]"
  >
    {
      projects.map((project: Project) => (
        <Card
          name={project.name}
          description={project.description}
          id={project.id}
          tecnologies={project.tecnologies}
          repositoryUrl={project.repositoryUrl}
          deployedUrl={project.deployedUrl}
        />
      ))
    }
  </div>
</Section>
