---
import Section from "components/Section/Section.astro";
import Card from "components/Card/Card.astro";
import { projects, type Project } from "@/constants/projects.ts";

const treeProjects = projects.slice(0, 3);
---

<Section title="Projects" id="projects">
  <div class="flex-center-center flex-wrap gap-5 mt-5">
    {
      treeProjects.map((project: Project) => (
        <Card
          name={project.name}
          description={project.description}
          id={project.id}
          tecnologies={project.tecnologies}
          repositoryUrl={project.repositoryUrl}
          deployedUrl={project.deployedUrl}
        />
      ))
    }
  </div>
</Section>
