---
import Section from "@/components/Section/Section.astro";
import ProjectCard from "@/components/Card/ProjectCard.astro";
import { projects, type Project } from "@/constants/projects.ts";

const treeProjects = projects.slice(0, 3);
---

<Section title="Projects" id="projects">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
    {
      treeProjects.map((project: Project) => (
        <ProjectCard
          name={project.name}
          description={project.description}
          id={project.id}
          technologies={project.technologies}
          repositoryUrl={project.repositoryUrl}
          deployedUrl={project.deployedUrl}
        />
      ))
    }
  </div>
</Section>
