---
import Layout from "@/layouts/Layout.astro";
import Section from "components/Section/Section.astro";
import SectionMiddle from "components/Section/SectionMiddle.astro";
import SmallCard from "components/Card/SmallCard.astro";
import SkillCard from "components/Card/SkillCard.astro";
import LinkButton from "components/Links/LinkButton.astro";
import { Image } from "astro:assets";
import educationImg from "@/assets/education.webp";
import workImg from "@/assets/work.webp";
import aboutImg from "@/assets/about.webp";
---

<Layout title="Agustin Arenas | About me">
  <Section id="about" extraClass="text-mine-shaft-100">
    <div class="text-img flex-center-center flex-col">
      <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
        About me
      </h1>

      <span class="text-center text-3xl md:text-3xl w-5/6 md:max-w-5xl mb-6">
        I'm a software engineer from Argentina. I'm passionate about web
        development, open source, and building communities.
      </span>

      <LinkButton
        href=""
        targetBlank={true}
        extraClass="text-mine-shaft-900 dark:text-mine-shaft-100"
      >
        Download CV
      </LinkButton>
    </div>

    <div class="absolute top-0 left-0 w-full h-full z-[-1]">
      <Image
        src={aboutImg}
        alt="Work"
        class="w-full h-full object-cover"
        widths={[540, 720, aboutImg.width]}
        sizes={`(max-width: 360px) 540px, (max-width: 720px) 720px, ${aboutImg.width}px`}
      />
    </div>
  </Section>

  <SectionMiddle extraClass="bg-bunker" id="education" slotFirst="slot2">
    <div
      slot="slot2"
      class="sticky w-full h-screen max-h-[354px] flex-center-center flex-col text-mine-shaft-900"
    >
      <h2 class="text-4xl md:text-5xl font-bold text-img mb-4">Education</h2>

      <div class="absolute top-0 left-0 w-full h-full z-[-1]">
        <Image
          src={educationImg}
          alt="Education"
          class="w-full h-full object-cover"
          widths={[240, 540, 720, educationImg.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${educationImg.width}px`}
        />
      </div>
    </div>

    <div slot="slot1" class="flex-center-center flex-col w-full p-5">
      <SmallCard
        title="Full Stack Web Developer Course"
        subtitle="Soy Henry"
        time="July 2021 - November 2021"
      />

      <SmallCard
        title="Computer Engineering Career"
        subtitle="Facultad de Ciencias Exactas, Físicas y Naturales"
        time="February 2020 - Present"
      />

      <SmallCard
        title="Secondary Technical Senior Master Builder"
        subtitle="Instituto de Enseñanza Domingo F. Sarmiento"
        time="March 2015 - December 2019"
      />
    </div>
  </SectionMiddle>

  <SectionMiddle extraClass="bg-bunker" id="work" slotFirst="slot1">
    <div
      slot="slot1"
      class="sticky w-full h-screen max-h-full flex-center-center flex-col top-0 left-0"
    >
      <h2 class="text-4xl md:text-5xl font-bold text-img mb-4">Work</h2>

      <div class="absolute top-0 left-0 w-full h-full z-[-1]">
        <Image
          src={workImg}
          alt="Work"
          class="w-full h-full object-cover"
          widths={[240, 540, 720, workImg.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${workImg.width}px`}
        />
      </div>
    </div>

    <div slot="slot2" class="flex-center-center flex-col w-full p-5">
      <SmallCard
        title="Full Stack Developer"
        subtitle="Dequo"
        description="I carried out improvement and maintenance tasks for the Tiendaquick product, both on the frontend and backend, using PHP, Laravel, LESS, Bootstrap, MySQL, JavaScript, and React."
        time="January 2024 - Present"
      />

      <SmallCard
        title="Front-end Developer"
        subtitle="Sellers Latam"
        description="I performed maintenance and enhancements on the Sellers Latam website and created the website for Nuvex Uruguay. For both websites, I utilized JavaScript, Sass, React, and Next.js. Additionally, I developed a script for a Tiendanube application using JavaScript, jQuery, and Bootstrap."
        time="March 2022 - January 2024"
      />

      <SmallCard
        title="Full Stack Developer"
        subtitle="Last Horde"
        description="I created an NFT card marketplace and NFT card packs using JavaScript, React, Sass, and Bootstrap. Additionally, I developed a server for data storage using Node.js, Express, Sequelize, and MySQL."
        time="February 2022 - July 2022"
      />

      <SmallCard
        title="Sales and customer service"
        subtitle="Praga Revestimientos"
        description="I tracked customer satisfaction for all company products and services. I assisted in troubleshooting and finding solutions for existing issues."
        time="August 2020 - November 2021"
      />

      <SmallCard
        title="Customer Service (Internships)"
        subtitle="Municipalidad de Córdoba"
        description="I personally handled customer inquiries and managed internal operations to enhance service quality."
        time="October 2019 - November 2019"
      />
    </div>
  </SectionMiddle>

  <Section id="skils" title="Skils">
    <div class="flex-center-center w-full md:w-3/5 flex-wrap mx-12">
      <SkillCard nameProp="HTML" />

      <SkillCard nameProp="CSS" />

      <SkillCard nameProp="Sass" />

      <SkillCard nameProp="Tailwind" />

      <SkillCard nameProp="Bootstrap" />

      <SkillCard nameProp="JavaScript" />

      <SkillCard nameProp="TypeScript" />

      <SkillCard nameProp="Php" />

      <SkillCard nameProp="Node" />

      <SkillCard nameProp="React" />

      <SkillCard nameProp="Next" />

      <SkillCard nameProp="Laravel" />
    </div>
  </Section>
</Layout>
