---
import Link from "components/Links/Link.astro";
import ToggleTheme from "components/Buttons/ToggleTheme.astro";

const { pathname } = Astro.url;

const pages = [
  { page: "Home", href: "/", ariaLabel: "My portfolio" },
  {
    page: "About me",
    href: "/about",
    ariaLabel: "Work experience, education and skills",
  },
  { page: "My projects", href: "/projects", ariaLabel: "My projects" },
  // { page: "Contact", href: "/#home" },
];
---

<header class="flex justify-center align-middle fixed w-full z-30 glow-bg-xl">
  {
    pages.map(({ page, href, ariaLabel }) => (
      <Link
        href={href}
        underlined={true}
        active={pathname === href}
        ariaLabel={ariaLabel}
        prefetch={true}
      >
        {page}
      </Link>
    ))
  }
  <div class="absolute right-4 top-1/2 -translate-y-1/2">
    <ToggleTheme />
  </div>
</header>
