---
import Link from "@/components/Links/Link.astro";
import ToggleTheme from "@/components/Buttons/ToggleTheme.astro";

const { pathname } = Astro.url;

const pages = [
  { page: "Home", href: "/", ariaLabel: "My portfolio" },
  {
    page: "About me",
    href: "/about",
    ariaLabel: "Work experience, education and skills",
  },
  { page: "My projects", href: "/projects", ariaLabel: "My projects" },
];
---

<header
  class="flex justify-between items-center fixed w-full z-30 glow-bg-xl py-1 md:py-0 px-4"
>
  <nav aria-label="Main navigation" class="flex justify-center flex-1">
    {
      pages.map(({ page, href, ariaLabel }) => (
        <Link
          href={href}
          underlined={true}
          active={href === "/" ? pathname === href : pathname === href || pathname.startsWith(href + "/")}
          ariaLabel={ariaLabel}
          prefetch={true}
        >
          {page}
        </Link>
      ))
    }
  </nav>
  <ToggleTheme />
</header>
