---
interface Props {
  title?: string;
  id: string;
  extraClass?: string;
  padding?: string;
  titleClass?: string;
}

const {
  id,
  title,
  extraClass = "",
  padding = "py-16",
  titleClass = "",
} = Astro.props;
---

<section
  id={id}
  class={`flex-center-center w-full z-10 relative text-xl flex-col ${padding} ${extraClass}`}
>
  {
    title && (
      <h2 class={`text-4xl md:text-5xl font-bold text-center ${titleClass}`}>
        {title}
      </h2>
    )
  }
  <slot />
</section>
