---
interface Props {
  title?: string;
  id: string;
  extraClass?: string;
  padding?: string;
  titleClass?: string;
  direction?: "row" | "column";
}

const {
  id,
  title,
  extraClass = "",
  padding = "py-16",
  titleClass = "",
  direction = "column",
} = Astro.props;
---

<section
  id={id}
  class={`flex-center-center w-full max-w-(--breakpoint-xl) z-10 relative text-xl ${padding} ${extraClass} ${
    direction === "row" ? "flex-row flex-wrap" : "flex-col"
  }`}
>
  {
    title && (
      <h2 class={`text-4xl md:text-5xl font-bold text-center ${titleClass}`}>
        {title}
      </h2>
    )
  }
  <slot />
</section>
