---
import ContactLink from "components/Links/ContactLink.astro";
// import CvLink from "components/Links/CvLink.astro";
import GithubLink from "components/Links/GithubLink.astro";
import LinkedinLink from "components/Links/LinkedinLink.astro";
import ToggleTheme from "components/Buttons/ToggleTheme.astro";
import Link from "components/Links/Link.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";
import "@/styles/stars.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "Agustin Arenas | Software Developer",
  description = "This is my portfolio. I'm a programmer and web developer with problem-solving skills, imaginative, and curious.",
  image = "/img/meta-home.webp",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://agustinarenas.vercel.app/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="og:site_name" content="Agustin Arenas Portfolio" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta property="twitter:url" content="https://agustinarenas.vercel.app/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#262626" />

    <meta
      name="keywords"
      content="portfolio, full stack, frontend, front-end, web, develop, programmer, agustin areanas"
    />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
  </head>

  <body
    class="relative overflow-x-hidden background-image bg-mine-shaft-100 text-mine-shaft-900 dark:bg-mine-shaft-900 dark:text-mine-shaft-100"
  >
    <header
      class="flex justify-center align-middle fixed w-full z-30 bg-clip-padding backdrop-filter backdrop-blur-xl bg-mine-shaft-200/60 dark:bg-mine-shaft-950/60 border-none"
    >
      <Link href="/" extraClass="capitalize" underlined={true}>Home</Link>

      <Link href="/about" extraClass="capitalize" underlined={true}>About</Link>

      <Link href="/portfolio" extraClass="capitalize" underlined={true}>
        Portfolio
      </Link>

      <!-- <Link href="/contact" extraClass="capitalize" underlined={true}>
        Contact
      </Link> -->
    </header>
    <main class="flex-center-center flex-col w-full">
      <slot />
    </main>

    <footer class="w-full p-4 flex justify-center items-center flex-col">
      <div class="flex-center-center">
        <GithubLink />

        <LinkedinLink />

        <ContactLink />

        <!-- <CvLink /> -->

        <ToggleTheme />
      </div>

      <hr class="w-5/6 md:w-3/5 my-2 text-bunker-800" />

      <p class="text-center text-xs text-white">© 2024 Agustín Arenas</p>
    </footer>

    <div class="starsContainer">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
    </div>
  </body>
</html>
