---
import ContactLink from "components/Links/ContactLink.astro";
// import CvLink from "components/Links/CvLink.astro";
import GithubLink from "components/Links/GithubLink.astro";
import LinkedinLink from "components/Links/LinkedinLink.astro";
import ToggleTheme from "components/Buttons/ToggleTheme.astro";
import Link from "components/Links/Link.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";
import "@/styles/stars.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />

    <meta name="description" content="Astro description" />

    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <ViewTransitions />

    <!-- Google Tag Manager -->
    <script>
      (function (w: any, d: any, s: any, l: any, i: any) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P7P75FPX");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body
    class="relative overflow-x-hidden background-image bg-mine-shaft-100 text-mine-shaft-900 dark:bg-mine-shaft-900 dark:text-mine-shaft-100"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7P75FPX"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <header
      class="flex justify-center align-middle fixed w-full z-30 bg-clip-padding backdrop-filter backdrop-blur-xl bg-mine-shaft-200/60 dark:bg-mine-shaft-950/60 border-none"
    >
      <Link href="/" extraClass="capitalize" underlined={true}>Home</Link>

      <Link href="/about" extraClass="capitalize" underlined={true}>About</Link>

      <Link href="/portfolio" extraClass="capitalize" underlined={true}>
        Portfolio
      </Link>

      <!-- <Link href="/contact" extraClass="capitalize" underlined={true}>
        Contact
      </Link> -->
    </header>
    <main class="flex-center-center flex-col w-full">
      <slot />
    </main>

    <footer class="w-full p-4 flex justify-center items-center flex-col">
      <div class="flex-center-center">
        <GithubLink />

        <LinkedinLink />

        <ContactLink />

        <!-- <CvLink /> -->

        <ToggleTheme />
      </div>

      <hr class="w-5/6 md:w-3/5 my-2 text-bunker-800" />

      <p class="text-center text-xs text-white">© 2024 Agustín Arenas</p>
    </footer>

    <div class="starsContainer">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
    </div>
  </body>
</html>
