---
import Header from "components/Header.astro";
import Footer from "@/components/Footer.astro";
import SnowFlakes from "@/components/SnowFlakes.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";
import "@/styles/stars.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "Agustín Arenas | Software Developer",
  description = "This is my portfolio. I'm a programmer and web developer with problem-solving skills, imaginative, and curious.",
  image = "/img/meta-home.webp",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <link
      rel="preload"
      href="font/junction-regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />

    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://agustinarenas.vercel.app/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="og:site_name" content="Agustín Arenas Portfolio" />
    <meta name="og:locale" content="en_US" />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta property="twitter:url" content="https://agustinarenas.vercel.app/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#262626" />

    <meta
      name="keywords"
      content="portfolio, full stack, frontend, front-end, web, develop, programmer, agustin areanas"
    />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="msapplication-config" content="/browserconfig.xml" />

    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
  </head>

  <body
    class="relative w-screen overflow-x-hidden background-image bg-mine-shaft-100 text-mine-shaft-900 dark:bg-mine-shaft-900 dark:text-mine-shaft-100 font-junction scrollbar"
  >
    <Header />

    <main class="flex-center-center flex-col w-full">
      <slot />
    </main>

    <Footer />

    <div class="starsContainer">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
    </div>

    <SnowFlakes />
  </body>
</html>
